---
import { getAllDays } from "../libs/client";
import dayjs from "../libs/dayjs";
import groupBy from "lodash/groupBy";
import IconLeft from "~icons/material-symbols-light/arrow-left-rounded";
import GridThumbnail from "./GridThumbnail.astro";

const response = await getAllDays();
const itemsByYear = groupBy(response, (e) => dayjs(e.date).format("YYYY"));
const years = Object.keys(itemsByYear).reverse();
---

<div class="grid grid-cols-7 lg:grid-cols-11">
  <div
    class="col-span-7 grid grid-cols-[repeat(auto-fill,minmax(7rem,1fr))] grid-rows-[repeat(auto-fill,5rem)] lg:col-span-10"
  >
    {
      years.map((year) => {
        const arr = itemsByYear[year];
        return arr.map((e, innerIndex) => {
          return (
            <>
              <GridThumbnail
                src={e.image.url}
                slug={e.slug}
                id={e.id}
                featured={false}
              />
              {innerIndex === arr.length - 1 && (
                <div class="bg-pale-accent dark:bg-inky-accent dark:text-pale flex items-center justify-center text-stone-700 transition-colors delay-150 duration-500">
                  <IconLeft class="animate-ping" />
                  <p class="font-leica text-[0.6rem]">{year}</p>
                </div>
              )}
            </>
          );
        });
      })
    }
  </div>
</div>
